html, body {
    /* width: 1920px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media screen {
    .article-rightNavigation {
        display: none;
        /*overflow: hidden;*/
    }
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*overflow: hidden;*/
}



/* Header 부분 */
#header {
    height: 64px;
    left: 0; top: 0; right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: linear-gradient(0deg, #131313, #131313), #595959;
}

#page-logo-empty-1 {
    width: 210px;
    background: #131313;
    flex: 0 1 210px;
}

#page-logo-container {
    width: 1540px;
    display: flex;
    flex: 0 1 1540px;
    flex-flow: row nowrap;
}

.page-logo-section {
    width: 268px;
    height: 35px;
    margin: 14px 0;
    flex: 0 1 268px;
    background: #131313;
}

.page-logo-section a {
    display: flex;
    flex: 0 0 268px;
    flex-flow: row nowrap;
}

.page-icon {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;

    background: #FAFAFA;
    border-radius: 10px;
}

.page-title {
    width: 233px;
    height: 30px;
    padding: 3px 0 3px 8px;
    align-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header-functions {
    width: 367px;
    height: 47px;
    background: #131313;
    margin: 8px 0 8px auto;
    flex: 0 1 367px;
    display: flex;
    flex-flow: row nowrap;
}

/* 테마 변경 버튼 */
.header-themeChangeButton {
    width: 18px;
    height: 21px;
    background: #131313;
    position: relative;
    margin: 13px 21px 13px 0;
    flex: 0 0 18px;
}

/* Google 검색창 */
.header-searchbar {
    width:242px;
    height:35px;
    position: relative;
    margin: 7px 0 5px 0;
    flex: 0 0 242px;
    background: #131313;
}
.searchbar-img {
    position: absolute;
    top: 5px;
    left: 8px;
    /*margin: 5px 0 0 8px;*/
}
.bar{
    position: absolute;
    top: 0;
    left: 0;
    width:242px;
    height:31px;
    border-radius: 50px;
    border:2px solid #dcdcdc;
}
.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
.searchbar-main{
    position: absolute;

    left: 40px;
    /*margin-left: 40px;*/
    height:27px;
    border:none;
    width:185px;
    font-size:16px;
    background: #131313;
    padding: 2.5px 0 0 0;
    color: #ffffff;
    outline: none;
}
.header-searchbar input::placeholder {
    color: #ffffff;
}

/* 프로필 부분 */
.header-profile {
    width: 65px;
    height: 47px;
    margin-left: 21px;
    position: relative;
    flex: 0 0 65px;
    background: #131313;
}

.h-profile-img-area {
    width: 47px;
    height: 47px;
    position: absolute;
    top: 0px; right: 18px;
}

.h-profile-img {
    width: 47px;
    height: 47px;
}

.h-profile-tri {
    position: absolute;
    top: 19px;
    left: 53px;
    width: 0px;
    height: 0px;
    border-bottom: calc(6px * 1.732) solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(180deg);

}



#container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    overflow: hidden;
}

.article-leftEmptySpace {
    background: #131313;
    position: relative;
    width: 210px;
    flex: 0 1 210px;
}



/* Article 부분 */
.article-middleArticle {
    background: #131313;
    width: 1468px;
    flex: 1;
    overflow: auto;
}

.article-title {
    padding: 83px 0 0 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;


    color: #FFFFFF;
}

.article-nickname {
    display: flex;
    flex-direction: row;
}
.article-nickname span:nth-child(1) {
    padding: 29px 0 0 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.article-nickname span:nth-child(2) {
    padding: 30px 0px 0px 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #BBBBBB;
}

.article-area {
    margin-top: 48px;
    margin-left: 30px;
    background: #131313;
    color: #c6c6c6;
    line-height: 40px;
}


/* 페이지 영역 */


/* Profile 영역 */


/* 페이지 기본 설정 */
.about-this-web-page {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    /* identical to box height, or 67% */

    color: #FFFFFF;
}
.about-this-web-page-explain p:nth-child(1) {
    padding: 34px 0 0 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.about-this-web-page-explain p:nth-child(2) {
    padding: 20px 0 0 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.article-web-top {
    padding: 65px 0 0 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    /* or 111% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.web-top-explain p:nth-child(1) {
    padding: 20px 0 0 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    /* or 133% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.web-top-explain p:nth-child(2) {
    padding: 15px 0 0 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    /* or 133% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.title-30px {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    padding: 0 0 34px 0;
    display: flex;
    align-items: center;
    /* identical to box height, or 67% */

    color: #FFFFFF;
}
.title-20px {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    padding: 0 0 20px 0;
    display: flex;
    align-items: center;
    /* identical to box height, or 67% */

    color: #FFFFFF;
}
.title-25px {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    padding: 0 0 20px 0;
    display: flex;
    align-items: center;
    /* identical to box height, or 67% */

    color: #FFFFFF;
}
.title-18px {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 20px 0;
    display: flex;
    align-items: center;
    /* identical to box height, or 67% */

    color: #FFFFFF;
}
.normal-article {
    padding: 0 0 19px 0;
}
.normal-article p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    word-spacing: 1px;
    /* or 133% */

    display: flex;
    align-items: center;

    color: #f9f9f9;
}
.top-margin_5px {
    margin: 5px 0 0 0 !important;
}
.down-margin_25px {
    margin: 0 0 25px 0 !important;
}
.left-padding_2px {
    padding: 0 0 0 2px;
}
.top-padding_30px {
    padding: 30px 0 0 0;
}
.down-padding_0px {
    padding: 0 0 0px 0;
}
.down-padding_5px {
    padding: 0 0 5px 0;
}
.down-padding_10px {
    padding: 0 0 10px 0;
}
.down-padding_15px {
    padding: 0 0 15px 0;
}
.down-padding_19px {
    padding: 0 0 19px 0;
}
.down-padding_20px {
    padding: 0 0 20px 0;
}
.down-padding_23px {
    padding: 0 0 23px 0;
}
.down-padding_25px {
    padding: 0 0 25px 0;
}
.down-padding_34px {
    padding: 0 0 34px 0;
}
.down-padding_40px {
    padding: 0 0 40px 0;
}
.down-padding_65px {
    padding: 0 0 65px 0;
}

.dividing-article {
    margin: 30px 0 30px 0;
    background:#ffffff;
    height:1px;
    border:0;
}

/* 페이지 업 다운 내비게이션 부분 */
.page-up-down-nav{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #2F2E2E;
    border-radius: 100px;
}

.up-arrow {
    position: absolute;
    left: 12.86%;
    right: 12.86%;
    top: 5.84%;
    bottom: 60.39%;
}
.down-arrow {
    position: absolute;
    left: 12.86%;
    right: 12.86%;
    top: 60.39%;
    bottom: 5.84%;
}
.article-main_section {
    overflow: hidden;
    margin: 64px 230px 0px 282px;
    background-color: #131313;
    width: 1000px;
}
.page-nav {
    position: fixed;
    width: 70px;
    height: 154px;
    left: 147px;
    top: 443px;
}


/* 페이지 아이콘 스타일 부분 */
.title-icon-about_web{
    width: 35px;
    margin: 1px 0 0 13px;
}
.title-icon-front-end {
    width: 35px;
    margin: 1px 0 0 13px;
}
.article-icon-HTML {
    width: 28px;
    margin: 1px 0 0 10px;
}
.article-icon-CSS {
    width: 30px;
    margin: 3px 0 0 10px;
}
.article-icon-JavaScript {
    width: 30px;
    margin: 3px 0 0 10px;
}
.title-icon-back-end {
    width: 70px;
    margin: 1px 0 0 0px;
}
.article-icon-PHP {
    width: 45px;
    margin: 3px 0 0 10px;
}
.article-icon-Java {
    width: 25px;
    margin: 3px 0 0 10px;
    background: #3a3a3a;
    border-radius: 5px;
}
.article-icon-Nodejs {
    width: 120px;
    margin: 3px 0 0 10px;
    background: #ffffff;
    border-radius: 10px;
}
.article-icon-Python {
    width: 30px;
    margin: 3px 0 0 10px;
}

.article-icon-React {
    width: 27px;
    margin: 3px 0 0 10px;
}
.article-icon-Vuejs {
    width: 27px;
    margin: 3px 0 0 10px;
}
.article-icon-Angular {
    width: 27px;
    margin: 3px 0 0 10px;
}
.article-icon-Spring {
    width: 40px;
    margin: 3px 0 0 5px;
}
.article-icon-Nestjs {
    width: 30px;
    margin: 3px 0 0 10px;
}
.article-icon-Django {
    width: 80px;
    margin: 3px 0 0 10px;
}
.article-icon-ruby_on_rails {
    width: 50px;
    margin: 3px 0 0 10px;
}

/* Article 인용 박스 부분 */
.article-quote_box {
    margin: 20px 0px;
    padding: 10px 20px 10px 20px;
    background-color: #272727;
    width: 1000px;
    border-left: solid 4px #92D8FF;
    color: #FFFFFF;
}
.article-quote_box ul {
    padding: 0 20px;
    list-style-type: disc;
    line-height: 40px;
    color: #E7E7E7;
}
.article-quote_box li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    line-height: 40px;
    list-style-type: disc;
    color: #f9f9f9;
}
.article-quote_box-test {
    margin: 20px 0px;
    padding: 10px 20px 10px 20px;
    background-color: #272727;
    width: 1000px;
    border-left: solid 4px #92D8FF;
}
.article-quote_box-test ul {
    list-style-type: disc;
    padding: 0 20px;
    color: #E7E7E7;
}

#profile-list {
    padding: 0 20px;
    list-style-type: disc;
    line-height: 20px;
    color: #E7E7E7;
}
#profile-list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    line-height: 35px;
    list-style-type: disc;
    color: #f9f9f9;
}
#academic-list {
    padding: 0 20px;
    list-style-type: disc;
    line-height: 20px;
    color: #E7E7E7;
}
#academic-list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    line-height: 35px;
    list-style-type: disc;
    color: #f9f9f9;
}
#family-list {
    padding: 0 20px;
    list-style-type: disc;
    line-height: 20px;
    color: #E7E7E7;
}
#family-list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    line-height: 35px;
    list-style-type: disc;
    color: #f9f9f9;
}
#intrest-list {
    padding: 0 20px;
    list-style-type: disc;
    line-height: 20px;
    color: #E7E7E7;
}
#intrest-list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    line-height: 35px;
    list-style-type: disc;
    color: #f9f9f9;
}

/* Article Footer Navigation 부분 */
.article-footer-nav {
    margin: 102px 0 188px 0;
    height: 161px;

    background: #131313;
}
hr.footer-nav-hr {
    border: 2px solid #353535;
}
.footer-nav-tags {
    margin-top: 29.5px;
    height: 29px;
    display: flex;
    margin-right: auto;
}
.article-tag-area {
    margin-bottom: 25px;
    height: 29px;
    display: flex;
    margin-right: auto;
    margin-bottom: 26px;
}
.pages-divider {
    margin: 0px 0 30px 0;
}
.pages-divider > hr {
    color: #272727;    /* IE */
    border-color: #272727;  /* 사파리 */
    background-color: #272727;   /* 크롬, 모질라 등, 기타 브라우저 */
}
.pages-info-area {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #f9f9f9;
    padding: 11px 17px 0 0;
    margin-bottom: 15px;
}
.tag-web {
    width: 58px;
    height: 29px;

    background: #353535;
    border-radius: 30px;

    padding: 5px 13px 7px 14px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #92D8FF;
    margin-right: 15px;
}
.tag-frontend {
    width: 99px;
    height: 29px;

    background: #353535;
    border-radius: 30px;

    padding: 5px 13px 7px 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #92D8FF;
    margin-right: 15px;
}
.tag-back-end {
    width: 94px;
    height: 29px;

    background: #353535;
    border-radius: 30px;

    padding: 5px 10px 7px 14px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #92D8FF;
    margin-right: 15px;
}

.footer-nav-article-nav {
    width: 982px;
    height: 59px;
    display: flex;
    justify-content: flex-start;
    margin-top: 43px;
}
.article-nav-flex-end {
    display: flex;
    justify-content: flex-end !important;
}
.right-margin-10px {
    margin-right: 10px !important;
}
.footer-pre-article {
    width: 400px;
    height: 59px;
    background: #353535;
    border-radius: 5px;
    margin-right: 169px;
    display: flex;
    justify-content: flex-start;
}
.pre-article-left_arrow {
    width: 44px;
    margin: 8px 11px 7px 8px;
}
.pre-article-title {
    margin: 10px 0 7px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.pre-article-ex {
    margin: 0 0 9px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.footer-next-article {
    width: 400px;
    height: 59px;
    background: #353535;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}
.next-article-right_arrow {
    width: 44px;
    margin: 8px 8px 7px 11px;
}
.next-article-title {
    margin: 10px 0 7px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: #FFFFFF;
}
.next-article-ex {
    margin: 0 0 9px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

.page-up-down-nav a div:hover {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.in-this-webpage a:hover {
    color: #FFFFFF;
}
.nav-home {
    opacity: 0.7;
}
.nav-home:hover {
    opacity: 1.0;
}
.nav-profile {
    opacity: 0.7;
}
.nav-profile:hover {
    opacity: 1.0;
}
.nav-pages {
    opacity: 0.7;
}
.nav-pages:hover {
    opacity: 1.0;
}
.nav-tages {
    opacity: 0.7;
}
.nav-tages:hover {
    opacity: 1.0;
}
.nav-about {
    opacity: 0.7;
}
.nav-about:hover {
    opacity: 1.0;
}



/* 백업 스타일 */
.article-content {
    position: absolute;
    width: 982px;
    height: 126px;
    left: 308px;
    top: 255px;
}
.article-content-area {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(0deg, #202020, #202020), #595959;
    border-radius: 10px;
}
.article-area-content_page {
    margin-top: 163px;
    margin-left: 30px;
    background: #131313;
    color: #c6c6c6;
    line-height: 40px;
}