html, body {
    /* width: 1920px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
}

@media screen {
    .cont-right-nav {
        display: none;
        /*overflow: hidden;*/
    }
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*overflow: hidden;*/
}



/* Header 부분 */
#header {
    height: 64px;
    left: 0; top: 0; right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background: linear-gradient(0deg, #131313, #131313), #595959; */
    background: antiquewhite;
}

#page-logo-empty-1 {
    width: 210px;
    background: aqua;
    flex: 0 1 210px;
}

#page-logo-container {
    width: 1540px;
    display: flex;
    flex: 0 1 1540px;
    flex-flow: row nowrap;
}

.page-logo-section {
    width: 268px;
    height: 35px;
    margin: 14px 0;
    flex: 0 1 268px;
    background: #595959;
}

.page-logo-section a {
    display: flex;
    flex: 0 0 268px;
    flex-flow: row nowrap;
}

.page-icon {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;

    background: #FAFAFA;
    border-radius: 10px;
}

.page-title {
    width: 233px;
    height: 30px;
    padding: 3px;
    align-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header-functions {
    width: 367px;
    height: 47px;
    background: brown;
    margin: 8px 0 8px auto;
    flex: 0 1 367px;
    display: flex;
    flex-flow: row nowrap;
}

/* 테마 변경 버튼 */
.header-themeChangeButton {
    width: 18px;
    height: 21px;
    background: #595959;
    position: relative;
    margin: 13px 21px 13px 0;
    flex: 0 0 18px;
}

/* Google 검색창 */
.header-searchbar {
    width:242px;
    height:35px;
    position: relative;
    margin: 7px 0 5px 0;
    flex: 0 0 242px;
    background: #595959;
}
.searchbar-img {
    position: absolute;
    top: 5px;
    left: 8px;
    /*margin: 5px 0 0 8px;*/
}
.bar{
    position: absolute;
    top: 0;
    left: 0;
    width:242px;
    height:31px;
    border-radius: 50px;
    border:2px solid #dcdcdc;
}
.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
.searchbar-main{
    position: absolute;

    left: 40px;
    /*margin-left: 40px;*/
    height:27px;
    border:none;
    width:185px;
    font-size:16px;
    background: #131313;
    padding: 2.5px 0 0 0;
    color: #ffffff;
    outline: none;
}
.header-searchbar input::placeholder {
    color: #ffffff;
}

/* 프로필 부분 */
.header-profile {
    width: 65px;
    height: 47px;
    margin-left: 21px;
    position: relative;
    flex: 0 0 65px;
    background: #595959;
}

.h-profile-img-area {
    width: 47px;
    height: 47px;
    position: absolute;
    top: 0px; right: 18px;
}

.h-profile-img {
    width: 47px;
    height: 47px;
}

.h-profile-tri {
    position: absolute;
    top: 19px;
    left: 53px;
    width: 0px;
    height: 0px;
    border-bottom: calc(6px * 1.732) solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(180deg);

}



/* 컨테이너 부분 */
#container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}



/* 메인페이지 프로필 공간 */
.cont-left-profile {
    background: #131313;
    /*height: 1016px;*/
    width: 222px;
    position: relative;
    flex: 0 1 222px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-profileImgArea {
    width: 150px;
    /*position: absolute;
    left: 36px;
    right: 36px;
    top: 51px;*/
    margin-top: 51px;
}

.profileImgArea-img {
    width: 150px;
}

.container-profileNicknameArea {
    /*position: absolute;
    top: 234px;
    left: 42px;*/
    margin-top: 35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.container-profileIntroduceArea {

    /*position: absolute;
    top: 282px;*/
    margin-top: 14px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.container-profileNavigationArea {
    width: 109px;
    height: 229px;
    margin-top: 35px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.nav-home {
    position: relative;
    width: 104px;
    height: 30px;
}

.nav-home img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-right: 13px;
    left: 0;
    top: 0;
}

.nav-home span {
    /*margin-top: 9px;*/
    position: absolute;
    top: 9px;
    left: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.nav-profile {
    position: relative;
    width: 108px;
    height: 28px;
    margin-top: 23px;
}

.nav-profile img {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-right: 14px;
    left: 0;
    top: 0;
}

.nav-profile span {
    position: absolute;
    top: 5px;
    left: 42px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.nav-pages {
    position: relative;
    width: 108px;
    height: 27px;
    margin-top: 23px;
}

.nav-pages img {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-right: 14px;
    left: 0;
    top: 0;
}

.nav-pages span {
    position: absolute;
    top: 2px;
    left: 43px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.nav-tages {
    position: relative;
    width: 108px;
    height: 29px;
    margin-top: 23px;
}

.nav-tages img {
    position: absolute;
    width: 29px;
    height: 29px;
    margin-right: 14px;
    left: 0;
    top: 0;
}

.nav-tages span {
    position: absolute;
    top: 4px;
    left: 43px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.nav-about {
    position: relative;
    width: 108px;
    height: 28px;
    margin-top: 23px;
}

.nav-about img {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-right: 14px;
    left: 0;
    top: 0;
}

.nav-about span {
    position: absolute;
    top: 4px;
    left: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}



/* 프로필 Footer 부분 */
.container-profileFooterArea {
    width: 159px;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
    margin: auto 0 30px 0;
}

.github-icon {
    margin: 1px 14.98px 1px 0;
}

.mail-icon {
    margin: 0 16.45px 0 0;
}

.theme_change-icon {
    margin: 5px 14px 5px 0;
}

.search_web-icon {
    margin: 1px 0;
}



/* Article 부분 */
.cont-middle-article {
    background: blueviolet;
    width: 1468px;
    flex: 1;
    overflow: hidden;
}

.article-title {
    padding: 83px 0 0 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;


    color: #FFFFFF;
}

.article-nickname {
    display: flex;
    flex-direction: row;
}
.article-nickname span:nth-child(1) {
    padding: 29px 0 0 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.article-nickname span:nth-child(2) {
    padding: 30px 0px 0px 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #BBBBBB;
}

.article-area {
    margin-top: 48px;
    margin-left: 30px;
    background: #131313;
    color: #c6c6c6;
    line-height: 40px;
}